/* colors
    Primary-1 : #072AC8
    Primary-2 : #43D2FF
    Primary-3 : #A2D6F9 -hover
    Primary-4 : #D1EDFF

    Neutral-1 : #292E47
    Neutral-2 : #6B708D
    Neutral-3 : #F2F4FC
    Neutral-4 : #ECF7FF

    Secondary : #FFC600
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* 
  100 - Thin
  300 - Light
  400 - Regular
  500 - Medium
  700 - Bold
  900 - Black
*/


html,
body {
    font-family: 'Roboto', sans-serif;
    color: #6b708d;
}

html {
    font-size: 16px;
    /*font-size base*/
}

body {
    font-weight: 400;
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.875rem;
    background-color: #f2f4fc;
}

/***
   Shared
***/

/* Headings*/
h1 {
    font-weight: 700;
    font-size: 3.75rem;
    /* 60px */
    line-height: 4.40rem;
}

h2 {
    font-weight: 700;
    font-size: 3.125rem;
    /* 50px */
    line-height: 3.67rem;
}

h3 {
    font-weight: 700;
    font-size: 2.5rem;
    /* 40px */
    line-height: 2.93rem;
}

h4 {
    font-weight: 700;
    font-size: 1.5rem;
    /* 24px */
    line-height: 1.75rem;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.container2 {
    max-width: 1320px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}

.button {
    padding: 0.9375rem 2.0625rem;
    width: auto;
    background-color: #072ac8;
    font-size: 1.0625rem;
    line-height: 1.38125rem;
    /* 17px*/
    color: #FFF;
    border: none;
    cursor: pointer;
}

.button-flat {
    background-color: transparent;
    color: #6B708D;
}



/***
   Sections & Pages
***/
.header__wrapper,
.footer__wrapper,
.section {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

.section+.section {
    margin-top: 8.125rem;
}

.section__title {
    color: #292E47;
}

.section__title+.section__wrapper {
    margin-top: 4rem;
}

.companies>*,
.projects>*,
.our-services>* {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}


/* Header */
.header__wrapper {
    padding-top: 0;
    padding-bottom: 1.125rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header__logo,
.header__navigation {
    display: flex;
    align-items: center;
}

.header__menu {
    width: 1rem;
    height: 1rem;
    padding: 1.5625rem;
    display: none;
    cursor: pointer;
}

.header__menu.isOpen {
    background: #c8c8c8;
}

.header__menu.isOpen+.header__navigation-list {
    position: absolute;
    top: 4.0625rem;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #c8c8c8;
    width: 100%;
    box-sizing: border-box;
    padding: 1.25rem;
    z-index: 2;
}

.header__menu.isOpen+.header__navigation-list .header__navigation-list-item {
    padding-bottom: 1.25rem;
    padding-right: 0;
}

.header__menu.isOpen+.header__navigation-list .header__navigation-list-item:last-child {
    padding-bottom: 0;
}

.header__navigation-list {
    display: flex;
}

.header__navigation-list-item {
    padding-right: 3.75rem;
}

.header__navigation-list-item:last-child {
    padding-right: 0;
}

.header__navigation-list-item.isActive a,
.header__navigation-list-item:active a,
.header__navigation-list-item:focus a {
    color: #072ac8;
}

.header__navigation-list-item a {
    font-size: 1.0625rem;
    /* 17px*/
    font-weight: 500;
    color: #6b708d;
    text-decoration: none;
}

.header+* {
    margin-top: 3.75rem;
}


/* Hero Section */

.hero-section.container {
    max-width: 1160px;
}

.hero-section {
    display: flex;
}

.hero-section__wrapper {
    position: relative;
    padding-bottom: 30px;
}

.hero-section__wrapper>*+* {
    padding-top: 1.875rem;
}

.hero-section__wrapper:first-child {
    width: 45%;
    padding-top: 7.5rem;
}

.hero-section__wrapper:last-child {
    width: 55%;
    padding-top: 0;
    padding-left: 3.5rem;
}

.hero-section__title {
    color: #292e47;
}

.hero-section__card1,
.hero-section__card2 {
    position: absolute;
    height: auto;
}

.hero-section__card1 {
    max-width: 21.875rem;
    top: 0.9375rem;
    left: -1.25rem;
}

.hero-section__card2 {
    max-width: 20.3125rem;
    bottom: -7.5rem;
    right: 0rem;
}

.hero-section__nav {
    display: flex;
    margin-top: 0.625rem;
}

/* Companies Section */
.companies-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

/* Projects Section */
.projects .section__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2.5rem;
    grid-row-gap: 1rem;
}

.projects__content {
    padding: 1.875rem;
    background-color: #FFF;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

.projects__img {
    width: 100%;
    height: 15rem;
}

.projects__title {
    font-weight: 500;
    color: #292E47;
}

.projects__description {
    font-size: 1.0625rem;
    color: #6B708D;
}


.projects__link {
    font-size: 1.0625rem;
    display: inline-block;
    color: #072ac8;
    text-decoration: none;
}

.projects__link:hover {
    text-decoration: underline;
}

.projects__title+.projects__description {
    padding-top: 0.625rem;
}

.projects__description+.projects__link {
    padding-top: 2.5rem;
}

/* Testimonial Section */
.testimonial.section {
    padding-left: 0;
    padding-right: 0;
}

.testimonial {
    position: relative;
    width: 100%;
    height: 31.25rem;
    background-image: url("./../assets/img/testimonial-section/orbit.png");
    background-position: center;
    background-size: contain;
    background-color: #292E47;
}

.testimonial__wrapper {
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.testimonial__memoji {
    position: absolute;
    width: 9.375rem;
    height: 9.375rem;
}

.testimonial__memoji1 {
    top: 3.125rem;
    left: 3.125rem;
}

.testimonial__memoji2 {
    bottom: 3.125rem;
    right: 3.125rem;
}

.testimonial__memoji3 {
    bottom: 3.125rem;
    left: 3.125rem;
}

.testimonial__memoji4 {
    top: 3.125rem;
    right: 3.125rem;
}

.testimonial__title,
.testimonial__quote {
    text-align: center;
}

.testimonial__title {
    margin-top: 3rem;
    color: #FFF;
    max-width: 70%;
    line-height: 150%;
}

.testimonial__quote {
    color: #FFC600;
    max-width: 52%;
    font-weight: 500;
    line-height: 160%;
}

.testimonial__customer {
    height: 3.125rem;
}

.testimonial__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial__customer {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
}

.testimonial__description {
    position: relative;
    margin-left: 0.625rem;
}

.testimonial__name {
    font-size: 1.0625rem;
    color: #A2D6F9;

}

.testimonial__app {
    position: relative;
    margin-top: -8px;
    font-size: 0.8125rem;
    color: #FFF;
}

/* Our Services Section*/
.our-services .section__wrapper {
    display: flex;
    justify-content: space-between;

}

.our-services__item {
    padding: 1.875rem;
    background-color: #FFF;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
    width: 33.3%;
    box-sizing: border-box;
    margin-right: 40px;

}

.our-services__item:last-child {
    margin-right: 0px;
}

.our-services__img-wrapper {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #ECF7FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-services__img-wrapper+.our-services__title {
    padding-top: 1.875rem;
}

.our-services__title {
    font-weight: 500;
    color: #292E47;
}

.our-services__description {
    font-size: 1.25rem;
    color: #6B708D;
}

.our-services__title+.our-services__description {
    padding-top: 1.25rem;
}

.our-services__link {
    font-size: 1.0625rem;
    display: inline-block;
    color: #072ac8;
    text-decoration: none;
}

.our-services__link:hover {
    text-decoration: underline;
}

.our-services__description+.our-services__link {
    padding-top: 2.5rem;
}

/* Newsletter Section*/
.newsletter {
    height: 31.25rem;
    background-color: #ffc600;
}

.newsletter__wrapper {
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter__title {
    color: #292E47;
}

.newsletter__text {
    font-size: 1.25rem;
    color: #292E47;
}

.newsletter__title+.newsletter__text {
    margin-top: 1.25rem;
}

.newsletter__fieldset {
    display: flex;
    margin-top: 3.125rem;
}

.newsletter__button {
    padding: 1.875rem 3.75rem;
}

.newsletter__input-email {
    padding: 1.5625rem 1.5625rem 1.5625rem 5rem;
    font-size: 1.0625rem;
    color: #292E47;
    width: 24.375rem;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.newsletter__input-email::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #292E47;
}
.newsletter__input-email:-moz-placeholder {
    /* Mozilla Firefox 4 - 18 */
    color: #292E47;
    opacity: 1;
}
.newsletter__input-email::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #292E47;
    opacity: 1;
}
.newsletter__input-email:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #292E47;
}

.newsletter__icon {
    position: relative;
}

.newsletter__icon::after {
    position: absolute;
    left: 2.5rem;
    top: 1.5625rem;
    content: "";
    width: 1.875rem;
    height: 1.875rem;
    background-image: url("./../assets/img/newsletter/icon/mail.svg");
    background-position: center;
}

.newsletter__input-email+.newsletter__button {
    margin-left: 1.5625rem;
}
.newsletter__message {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    background-color: #ddd;
}

/* Footer */
.footer {
    padding-top:12.5rem;
    padding-bottom:6.25rem;
    opacity:0.7;
}
.footer__wrapper {
    display:flex;
    justify-content: space-between;
}
.footer__logo img {
    width:6.25rem;
    height: auto;
}
.footer-address {
    font-size: 1.0625rem;
    color:#6B708D;
}
.footer__logo + .footer-address__address {
    margin-top:1.875rem;
}
.footer-links {
    display:grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2.5rem;
    grid-row-gap: 3.75rem;
}
.footer-links a, .footer-links a:hover {
    font-size: 1.0625rem;
    color:#6B708D;
    text-decoration: none;
}
.footer-links a:hover {
    text-decoration: underline;
}




/***
   MediaQueries
***/


/* > 990px Desktop & Tablet Landscape  */
@media (min-width: 990px) {

    /* Header */
    .header__wrapper {
        padding: 5rem 1rem 1rem 1rem;
    }

    .header__navigation-list-item a:hover {
        color: #A2D6F9;
    }
}

/* Mobile & Table portrait 2*/
@media (max-width: 990px) {

    .section {
        max-width: 80%;
    }

    .testimonial.section,
    .projects.section,
    .our-services.section,
    .newsletter.section {
        max-width: 100%;
    }


    /* Header */
    .header__navigation-list,
    .header__button {
        display: none;
    }

    .header__menu {
        display: block;
    }

    /* Hero Section */
    .hero-section {
        flex-direction: column;
        align-items: center;
    }

    .hero-section__wrapper {
        padding-top: 1.25rem;
        text-align: center;
    }

    .hero-section__wrapper:first-child,
    .hero-section__wrapper:last-child {
        padding-top: 0;
        padding-left: 0;
        margin-top: 0;
        width: 100%;
    }

    .hero-section__subtitle {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .hero-section__nav {
        justify-content: center;
    }

    .hero-section__img {
        max-width: 80%;
        margin: 0 auto;
    }

    .hero-section__card1 {
        max-width: 18.75rem;
    }

    .hero-section__card2 {
        max-width: 17.18rem;
    }

    .companies>*,
    .projects>*,
    .our-services>* {
        margin-left: 0;
        margin-right: 0;
    }

    /* Companies Section */
    .companies-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
    }

    .companies-list-item {
        height: 6rem;
    }

    .companies-list-item:last-child {
        display: none;
    }

    /* Projects Section */
    .projects .section__wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /* Testimonial Section*/
    .testimonial__memoji {
        width: 6.25rem;
        height: 6.25rem;
    }

}

/* Mobile & Table Portrait 1*/
@media (max-width: 768px) {

    .section {
        max-width: 100%;
    }
    .section__title {
        text-align: center;
    }

    /* Hero Section */
    .hero-section__title {
        font-size: 2.5rem;
        /* 40px */
        line-height: 2.93rem;
    }

    .hero-section__subtitle {
        font-size: 1.0625rem;
        /* 17px */
        line-height: 1.59375rem;
    }

    .hero-section__card1,
    .hero-section__card2 {
        display: none;
    }

    .hero-section__img {
        max-width: 80%;
    }

    /* Projects Section */
    .projects .section__wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    /* Testimonial Section*/
    .testimonial__memoji {
        display: none;
    }

    /* Our Services Section*/
    .our-services .section__wrapper {
        flex-direction: column;
    }

    .our-services__item {
        width: 100%;
        box-sizing: border-box;
    }

    .our-services__item+.our-services__item {
        margin-top: 1.25rem;
    }

    /* Newsletter Section*/
    .newsletter__wrapper{
        max-width: 80%;
        margin: 0 auto;
    }
    .newsletter__title {
        text-align: center;
    }

    .newsletter__fieldset {
        flex-direction: column;
        justify-content: center;
    }

    .newsletter__button,
    .newsletter__input-email {
        width: 24.375rem;
    }

    .newsletter__input-email+.newsletter__button {
        margin-left: 0px;
        margin-top: 1.25rem;
    }

    .newsletter__icon::after {
        top: 1.25rem;
    }

    /* Footer */
    .footer__wrapper {
        flex-direction: column;
    }
    .footer-address {
        text-align: center;
    }
    .footer__logo img {
        margin:0 auto;
    }
    .footer-links {
        place-items: center;
        grid-row-gap: 1rem;
    } 
    .footer-address + .footer-links {
        margin-top:2.5rem;
    }
}

/* Mobile*/
@media (max-width: 480px) {

    /* Hero Section */
    .hero-section__title {
        font-size: 1.875rem;
        /* 30px */
        line-height: 2.4375rem;
    }

    .hero-section__nav {
        flex-direction: column;
        align-items: center;
    }

    .hero-section__img {
        max-width: 100%;
    }

    /* Testimonial Section*/
    .testimonial__title {
        font-size: 30px;
        max-width: 80%;
    }

    .testimonial__quote {
        max-width: 80%;
    }

    /* Newsletter Section */
    .newsletter__button,
    .newsletter__input-email {
        width: 14.375rem;
    }

}